
 <h3> 'Please select movie genre for which you would like to make a reservation:' </h3>

  <select>
  {% for genre in genres %}
  <option value= "{{genre.tid.value}}"> {{genre.name.value}}</option>
  {% endfor %}
  </select>

  <div>
  {% for movie in movies %}
    <div class="movie"> 
    {{ movie.title.value }}
    <img src="{{ file_url(movie.field_image.entity.uri.value) }}">
    <p>{{ movie.field_description.value }}</p>

    <h3> 'This movie is available on:' </h3>
    
    {% for day in movie.field_days %}
    {{day.entity.label}}
    {% endfor %}
    
    <br>
    </div>

  {% endfor %}
  </div>

 <div class="modal-content">
 <p> Click on a day you would like to make a reservation for</p>
 <div class=days></div>
 <div class="confirm"> </div>
 </div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  
  var selectedGenre = $('select');
  
  selectedGenre.on('change', function () {
    $.ajax({
      url: '/drupal/movie-reservation?selectedGenre=' + selectedGenre.val(),
      type: 'POST',
      cache: false,
      success: function () {
         location.href = '/drupal/movie-reservation?selectedGenre=' + selectedGenre.val();
    }
    });
  })    
  $('.movie').click(function(){
    if($(this).prop('id')=='selected'){
        $("#b").remove();
        $(this).removeAttr('id');
        $(this).css("background-color", "white");
    }else{
         $(this).attr('id', 'selected');
         $(this).append("<button id='b' class='bclass'>Reserve </button>");
         $(this).css("background-color", "orange");
         }
    }) 

    $('#b').on('click', function(){
      $('#modal-content').modal('show');
    })
    


</script>

