{{ attach_library('movie_reservation/movie_reservation_css') }}


 <h3> 'Please select movie genre for which you would like to make a reservation:' </h3>

  <select>
  {% for genre in genres %}
  <option value= "{{genre.tid.value}}"> {{genre.name.value}}</option>
  {% endfor %}
  </select>

  <div>
  {% for movie in movies %}
    <div class="movie">
    {{ movie.title.value }}
    <img src="{{ file_url(movie.field_image.entity.uri.value) }}">
    <p>{{ movie.field_description.value }}</p>

    <h3> 'This movie is available on:' </h3>

    {% for day in movie.field_days %}
    {{day.entity.label}}
    {% endfor %}

    <br>
    <button id="b" class="bclass" style="visibility:hidden"> Reserve</button>
    </div>
  {% endfor %}
   
  </div>

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>


 



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">

  var selectedGenre = $('select');

  selectedGenre.on('change', function () {
    $.ajax({
      url: '/drupal/movie-reservation?selectedGenre=' + selectedGenre.val(),
      type: 'POST',
      cache: false,
      success: function () {
         window.location.href = '/drupal/movie-reservation?selectedGenre=' + selectedGenre.val();
    }
    });
  })


  
  
  $('.movie').click(function(){
    if($(this).prop('id')=='selected'){
      $(this).children('.bclass').css("visibility", "hidden");
        $(this).removeAttr('id');
        $(this).css("background-color", "white");
    }else{
         $(this).attr('id', 'selected');
         $(this).children('.bclass').css("visibility", "visible");
         $(this).css("background-color", "orange");
       
         }
    })

    $('.bclass').click(function(){
      $('.modal-content').modal('show');
      
    })





</script>

